.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #d16ba5, #3f87ff);
}


.login-card {
  width: 380px;
  padding: 40px 30px;
  border-radius: 25px;

  background: #ffffff;

  box-shadow: 0 30px 80px rgba(0,0,0,0.3);
  position: relative;
  text-align: center;
}


.avatar {
  width: 90px;
  height: 90px;
  background: #2a5298;

  border-radius: 50%;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 30px;
}


.login-title {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #1e293b;
}


.input-group {
  display: flex;
  align-items: center;
  gap: 10px;

  background: #3b5b7a;
  border-radius: 12px;

  padding: 14px;
  margin-bottom: 15px;
}

.input-group svg {
  color: white;
  font-size: 16px;
}

.input-group input {
  border: none;
  background: transparent;
  outline: none;
  color: white;
  width: 100%;
}


.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
}

.forgot-btn {
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
  text-decoration: underline;
}

.forgot-btn:hover {
  opacity: 0.7;
}


.login-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;

  background: linear-gradient(135deg, #2563eb, #1e3c72);
  color: white;

  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}